In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [9]:
dataset=pd.get_dummies(dataset,drop_first=True,dtype=int)

In [11]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [13]:
dataset=dataset.drop('User ID',axis=1)

In [15]:
dataset.columns
#dataset=dataset.drop("User ID",axis=1)

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [17]:
indep=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [19]:
indep.shape

(400, 3)

In [21]:
dep=dataset[['Purchased']]
dep.shape

(400, 1)

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
y_train = y_train.values.ravel()

In [65]:
# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)
new_data = pd.DataFrame([[30, 116000, 0]], columns=['Age', 'EstimatedSalary', 'Gender_Male'])
classifier.predict(new_data)

[[80  5]
 [ 8 41]]
              precision    recall  f1-score   support

           0       0.91      0.94      0.92        85
           1       0.89      0.84      0.86        49

    accuracy                           0.90       134
   macro avg       0.90      0.89      0.89       134
weighted avg       0.90      0.90      0.90       134

array([0], dtype=int64)

In [45]:
# Multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
classifier=MultinomialNB(alpha=50)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)
new_data = pd.DataFrame([[30, 116000, 0]], columns=['Age', 'EstimatedSalary', 'Gender_Male'])
classifier.predict(new_data)

[[85  0]
 [49  0]]
              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

array([0], dtype=int64)

In [61]:
# Complement Naive Bayes
from sklearn.naive_bayes import ComplementNB
from sklearn.metrics import confusion_matrix
classifier=ComplementNB(alpha=10)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)
new_data = pd.DataFrame([[30, 116000, 0]], columns=['Age', 'EstimatedSalary', 'Gender_Male'])
classifier.predict(new_data)

[[40 45]
 [19 30]]
              precision    recall  f1-score   support

           0       0.68      0.47      0.56        85
           1       0.40      0.61      0.48        49

    accuracy                           0.52       134
   macro avg       0.54      0.54      0.52       134
weighted avg       0.58      0.52      0.53       134

array([1], dtype=int64)

In [67]:
# Bernoulli Naive Bayes
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix
classifier=BernoulliNB(alpha=10)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)
new_data = pd.DataFrame([[30, 116000, 0]], columns=['Age', 'EstimatedSalary', 'Gender_Male'])
classifier.predict(new_data)

[[85  0]
 [49  0]]
              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

array([0], dtype=int64)

In [71]:
# Bernoulli Naive Bayes
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import confusion_matrix
classifier=CategoricalNB(alpha=10)
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)
new_data = pd.DataFrame([[30, 116000, 0]], columns=['Age', 'EstimatedSalary', 'Gender_Male'])
classifier.predict(new_data)

[[85  0]
 [44  5]]
              precision    recall  f1-score   support

           0       0.66      1.00      0.79        85
           1       1.00      0.10      0.19        49

    accuracy                           0.67       134
   macro avg       0.83      0.55      0.49       134
weighted avg       0.78      0.67      0.57       134

array([0], dtype=int64)